<%- include('./include/header', {characters: characters}) %>

<main>
  <h1>Welcome to FrameDB</h1>
  <p>This is a community-maintained movelist database. If you notice an error while browsing, click the icon to the right to edit a move in real time. Blue rows indicate a gif/video which can be viewed by clicking the icon on the right of the row. Currently users cannot submit gifs for moves.</p>
  <p>Major thanks to the <a href="https://play.google.com/store/apps/details?id=com.t7chickenplus&hl=en_US">T7ChickenPlus</a> and <a href="https://play.google.com/store/apps/details?id=com.fudgydrs.fightinggamebuddy">FudgyDRS</a> for their hard work assembling the data and making move videos/gifs!</p>
</main>

<%- include('./include/footer') %>
