</body>
<% if (locals.character) { %>
<script type="text/javascript" src="/js/script.js"></script>
<% } %>
<% if (locals.loggedIn) { %>
  <script type="text/javascript" src="/js/validSession.js"></script>
<% } else { %>
    <script type="text/javascript" src="/js/loginForm.js"></script>
<% } %>
</html>
