<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><% if (locals.character) { %>
          <%= `${character.displayName}` %>
          <% } else { %>
          <%=  "Tekken7Database" %>
          <% } %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
  <nav>
    <a href="/tekken7" class="nav-link">Home</a>
    <a href="/tekken7" class="nav-link">Log In</a>
  </nav>
  <form class="" action="/auth/login" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
     <button type="submit">Submit</button>
  </form>
