<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><% if (locals.character) { %>
          <%= `${character.displayName}` %>
          <% } else { %>
          <%=  "Tekken7Database" %>
          <% } %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
  <nav>
    <a href="/tekken7" class="nav-link">Home</a>
  <% if (locals.loggedIn) {%>
    <a href="/auth/logout" class="nav-link">Log Out</a>
    <% } else { %>
      <a href="/auth/login" class="nav-link" id="login">Log In</a>
    <% } %>
  </nav>
