<div class="modal-content">
  <span class="edit-icon">Edit</span>
  <h1><%= character.displayName %></h1>
  <h2>Move Notation</h2>
  <img src="" alt="move gif">
  <div id="preview_url" class="hidden">
    <h3>Preview URL</h3>
    <input type="text" name="preview_url" placeholder="" value="">
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Current Value</th>
        <th class="hidden">Updated Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hit Level</td>
        <td></td>
        <td class="hidden">
          <input type="text" name="hit_level" value="">
        </td>
      </tr>
      <tr>
        <td>Damage</td>
        <td></td>
        <td class="hidden">
          <input type="text" name="damage" value="">
        </td>
      </tr>
      <tr>
        <td>Speed</td>
        <td></td>
        <td class="hidden">
          <input type="text" name="speed" value="">
        </td>
      </tr>
      <tr>
        <td>Block</td>
        <td></td>
        <td class="hidden">
          <input type="text" name="on_block" value="">
        </td>
      </tr>
      <tr>
        <td>Hit</td>
        <td></td>
        <td class="hidden">
          <input type="text" name="on_hit" value="">
        </td>
      </tr>
      <tr>
        <td>Counterhit</td>
        <td></td>
        <td class="hidden">
          <input type="text" name="on_ch" value="">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-container hidden">
    <button type="button" name="button" class="submit">Post</button>
    <button type="button" name="button" class="edit-icon">Cancel</button>
  </div>
</div>
