<div class="modal-content">
  <h1><%= character.displayName %></h1>
  <h2>Move Notation</h2>
  <img src="" alt="move gif">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hit Level</td>
        <td></td>
      </tr>
      <tr>
        <td>Damage</td>
        <td></td>
      </tr>
      <tr>
        <td>Speed</td>
        <td></td>
      </tr>
      <tr>
        <td>Block</td>
        <td></td>
      </tr>
      <tr>
        <td>Hit</td>
        <td></td>
      </tr>
      <tr>
        <td>Counterhit</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
